@use "./partials/global" as *;

.hero {
  background-image: url(/assets/images/coffee-circle.jpg);
  background-size: cover;
  background-position: center;
  min-width: 100%;
  max-width: 100%;
  min-height: 35.9375rem;
  max-height: 37.5rem;
  display: flex;
  &__title {
    min-width: 17.5rem;
    max-width: 18.75rem;
    min-height: 11.25rem;
    max-height: 12.5rem;
    background-color: $graphite;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__title__border-effect {
    border: $nitro-blue 4px solid;
    position: absolute;
    min-width: 17.5rem;
    max-width: 18.75rem;
    min-height: 11.25rem;
    max-height: 12.5rem;
    top: -7%;
    left: -5%;
  }
}

h1 {
  color: $white;
}

.nav-bar__menu-items {
  min-width: 100%;
  max-width: 100%;
  background-color: $graphite;
  text-align: center;
  margin: 0;
  min-height: 3.75rem;
  max-height: 5rem;
  display: flex;
  justify-content: center;
  li {
    border-left: 4px solid $nitro-blue;
    padding: 0 1.25rem;
  }
  a {
    color: $white;
  }
}

.menu-section {
  text-align: center;
  h2 {
    padding: 1.25rem;
  }
  &__item {
    padding: 1.25rem;
  }

  &--nitro-pink {
    background-color: $nitro-pink;
  }
  &--light-gray {
    background-color: $light-gray;
  }

  &__item-description {
    font-style: italic;
    display: block;
    max-width: 30%;
    margin: auto;
  }
}

.price {
  margin: 0, 20, 20, 20;
}
