:root {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #393939;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: #fff0ed;
  padding: 0;
  margin: 0;
  border: 0;
}
.nav-bar__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-bar__main li {
  padding: 1.25rem;
}
.nav-bar__main a {
  color: #393939;
  display: inline-block;
}
.nav-bar__main a:hover {
  color: #5bacc3;
}

h1,
h2 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0;
}

h3 {
  font-size: 2.0625rem;
  font-weight: 300;
  margin: 0;
}

a,
.button {
  font-size: 1.3125rem;
  font-weight: 400;
  text-decoration: none;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.icon {
  min-width: 3.125rem;
  max-width: 7.5rem;
  width: 3.125rem;
  height: 3.125rem;
}

h3 a {
  text-decoration: none;
}

.menu-section__price,
.merchandise__price {
  color: #5bacc3;
}

.hero {
  background-color: #fff0ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.hero__title, .hero__img {
  width: 30%;
  display: inline-block;
  margin: 6.25rem;
}
.hero__img {
  text-align: right;
}

.button {
  background-color: #5bacc3;
  color: #fff;
  border: none;
  text-decoration: none;
  width: 11.875rem;
  height: 4.188rem;
  margin-top: 2.5rem;
  position: relative;
}
.button__border-effect {
  border: #393939 3px solid;
  width: 11.875rem;
  height: 4.188rem;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button__border-effect:active {
  top: 0;
  left: 0;
}

.merchandise__btn {
  margin: 3.75rem auto;
  margin-bottom: 0;
}

.discount {
  background-color: #fff;
}
.discount p {
  font-size: 2.8125rem;
  min-width: 2.8125rem;
  max-width: 90%;
  background-color: #393939;
  color: #fff;
  text-align: center;
  margin: 11.25rem auto;
  padding: 2.5rem;
  vertical-align: middle;
  transition: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
}
.discount p:hover {
  background-color: #5bacc3;
}

.merchandise {
  background-color: #f7f7f7;
  margin: 0;
  padding: 3.75rem;
  margin: auto;
}
.merchandise > h2 {
  text-align: center;
  padding-bottom: 3.75rem;
}
.merchandise__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.merchandise__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 20.625rem;
  max-width: 21.875rem;
  min-height: 27.5rem;
  max-height: 28.75rem;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.merchandise__card__bottom {
  background-color: #fff0ed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.merchandise__card__bottom__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.merchandise__card__bottom__text {
  font-weight: 200;
  margin: 0;
}
.merchandise__price {
  font-size: 2.0625rem;
  font-weight: bold;
}
.merchandise__product {
  min-height: 15rem;
  max-height: 34.375rem;
  padding: 1.25rem 6.25rem;
}

.learn-more-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 6.25rem;
}
.learn-more-section__text {
  width: 40%;
}
.learn-more-section__icon-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.learn-more-section__img-background {
  width: 23.125rem;
  height: 23.125rem;
  background-image: url(/assets/images/coldbrewbackground.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.learn-more-section__img-border {
  width: 23.125rem;
  height: 23.125rem;
  position: absolute;
  border: #5bacc3 5px solid;
  top: -0.938rem;
  left: -0.938rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.learn-more-section__img--rotating {
  margin: 2.5rem;
}
.learn-more-section__img--rotating:hover {
  -webkit-animation: rotation 2s infinite linear;
          animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.learn-more-section__btn {
  margin-top: 2.5rem;
}

.footer {
  background-color: #fff0ed;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.footer__section {
  margin: 2.5rem auto;
  padding: 2.5rem;
  text-align: left;
}
.footer__section p:nth-child(2) {
  margin-bottom: 0;
}
.footer__section p:nth-child(3) {
  margin-top: 0;
}
.footer__section img {
  margin-top: 1.25rem;
}
.footer__background-bean-decoration {
  position: absolute;
  opacity: 0.3;
  height: 6.25rem;
  width: 6.25rem;
}
.footer__background-bean-decoration-left {
  top: 2.5rem;
  left: -1.875rem;
}
.footer__background-bean-decoration-right {
  bottom: 2.5rem;
  right: -1.875rem;
}