// primary
$nitro-blue: #5bacc3;
$nitro-pink: #fff0ed;

// neutral
$graphite: #393939;
$gray: #909090;
$light-gray: #f7f7f7;
$white: #fff;

@mixin font-light($font-size) {
  font-size: $font-size;
  font-weight: 300;
}

@mixin font-normal($font-size) {
  font-size: $font-size;
  font-weight: 400;
}

// //font colors
// $font-color-primary: $graphite;
// $font-color-secondary: $white;
// $font-color-highlight: $nitro-blue;
// $font-color-alternate: $gray;

:root {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: $graphite;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: $nitro-pink;
  padding: 0;
  margin: 0;
  border: 0;
  &__main {
    display: flex;
    justify-content: space-between;
    li {
      padding: 1.25rem;
    }
    a {
      color: $graphite;
      display: inline-block;
    }
    a:hover {
      color: $nitro-blue;
    }
  }
}

h1,
h2 {
  @include font-light(3.75rem);
  margin: 0;
}
h3 {
  @include font-light(2.0625rem);
  margin: 0;
}

a,
.button {
  @include font-normal(1.3125rem);
  text-decoration: none;
}

p {
  @include font-normal(1.125rem);
  font-weight: 400;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.icon {
  min-width: 3.125rem;
  max-width: 7.5rem;
  width: 3.125rem;
  height: 3.125rem;
}

h3 a {
  text-decoration: none;
}
.menu-section__price,
.merchandise__price {
  color: $nitro-blue;
}
