// primary
$nitro-blue: #5bacc3;
$nitro-pink: #fff0ed;

// neutral
$graphite: #393939;
$gray: #909090;
$light-gray: #f7f7f7;
$white: #fff;

// //font colors
// $font-color-primary: $graphite;
// $font-color-secondary: $white;
// $font-color-highlight: $nitro-blue;
// $font-color-alternate: $gray;

:root {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: $graphite;
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: $nitro-pink;
  padding: 0;
  margin: 0;
  border: 0;
  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__main li {
    padding: 1.25rem;
  }
  &__main a {
    color: $graphite;
    display: inline-block;
  }
  &__main a:hover {
    color: $nitro-blue;
  }
}

h1,
h2 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0;
}
h3 {
  font-size: 2.0625rem;
  font-weight: 300;
  margin: 0;
}

a,
.button {
  font-size: 1.3125rem;
  font-weight: 400;
  text-decoration: none;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.nav-bar__icon,
.footer__icon,
.learn-more-section__icon {
  min-width: 3.125rem;
  max-width: 7.5rem;
  width: 3.125rem;
  height: 3.125rem;
}

h3 a {
  text-decoration: none;
}
.menu-section__price,
.merchandise__price {
  color: $nitro-blue;
}
